.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-top: 20%;
  /* width: 30rem; */
  /* margin-left: 18%;      
    margin-right: 18%; */
}
.signin-txt {
  margin-top: 2rem;
  font-size: large;
  font-weight: 700;
  font-family: Karla, sans-serif;
}
.email-label {
  font-weight: 500;
  color: #777784;
  margin-top: 3rem;
  margin-left: 3.5rem;
  margin-bottom: 0.5rem;
}
.password-label {
  font-weight: 500;
  color: #777784;
  margin-left: 3.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.email-input {
  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: 0.5px solid gray;
  padding-left: 1rem;
}
.password-input {
  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: 0.5px solid gray;
  padding-left: 1rem;
}
.checkbox {
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  margin-right: 5px;
}
.login-btn {
  width: 80%;
  margin-top: 1.5rem;
  background-color: #71b6f9;
  color: white;
  border: 0;
  border-radius: 3px;
  height: 2.3rem;
  margin-bottom: 1rem;
}
